<div class="container">
    <h1>Games#score</h1>
    <p><%= @score %></p>
    <p>You have <strong><%= @scoring %></strong> points</p>
    <a href="/new"><button type="button" class="btn btn-success">Play another time</button></a>
</div>
